In [2]:
emp = {3073: "Ajeeb", 3074: "Jeevanantham"}
print(emp[3073])

Ajeeb

In [11]:
search = {"google": {"google.com","drive.google.com"}, "micro": {"microsoft.com"}}
print(search["google"])

{'drive.google.com', 'google.com'}

In [5]:
for key, value in emp.items():
    print(f"{key} : {value}")

3073 : Ajeeb
3074 : Jeevanantham

In [12]:
for key, value in search.items():
    print(f"{key} : {value}")

google : {'drive.google.com', 'google.com'}
micro : {'microsoft.com'}

In [18]:
#case 1

num = 10
if None:    # None or 0
    print("Positive")

print("End")

Positive
End

In [22]:
marks = 65
if marks >= 70:
    if marks >= 80:
        print("Top")
    else:
        print("Avg")
else:
    print("Below")

Below

In [23]:
a, b, c = 10, 20, 30

if((a>=b) and (a>=c)):
    bigger = a
elif((b>=a) and (b>=c)):
    bigger = b
else:
    bigger = c
print(f"Bigger : {bigger}")

Bigger : 30

In [25]:
for i in range(5):
    print(i)

0
1
2
3
4

In [24]:
for i in range(1,10,2): # stop+1
    print(i)

1
3
5
7
9

In [7]:
x = [1,2]
for data in x:
    print(data)
    #break # empty not printed
else:
    print("Empty")

1

In [39]:
num = int(input("Enter num"))
for i in range(2, num):
    if num % i == 0:
        print("Composite")
        break
else:
    if num < 2:
        print("Neither Prime nor Composite")
    else:
        print("Prime")

Enter num 23

Prime

In [46]:
inp = input("Enter")
print(ord(inp)) # ascii

Enter A

65

In [49]:
print(chr(0))

 

In [6]:
val1, val2 = 20, 60
for num in range(val1, val2+1,1):
    if num > 1:
        prime = True

    for val in (2, num):
        if num % val == 0:
            prime = False
    if prime:
        print(num)

In [8]:
for i in range(5):
    if i % 2 == 0:
        continue
    print(i)
else:
    print("End")

1
3
End

In [14]:
emp = [34, 45, 23, 44, 55]
key = 44
found = False
# looping till emp key found in list
for i in range(len(emp)):
    if emp[i] == key:
        found = True
        break
if found:
    print("Found")
else:
    print("Not found")

Found

In [16]:
empSal = {34: 4000, 35: 30000, 36:2000}
# Doubling employee salaries except for employee 35
for emp in empSal.keys():
    if emp == 35:
        continue
    empSal[emp] *= 2

print(empSal)

{34: 8000, 35: 30000, 36: 4000}

In [3]:
l1 = [ 1,2,2,3,3,4,5,5,6]
l2 = [ 6,6,6,7,7,8,9,10]
l1.extend(l2)
print(l1)
l1.append(l2)
print(l1)

[1, 2, 2, 3, 3, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 9, 10]
[1, 2, 2, 3, 3, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 9, 10, [6, 6, 6, 7, 7, 8, 9, 10]]

In [4]:
lst = [1,2,3,4,5]
lst1 = []
lst1 = lst
lst1.append(4)
lst.append(3)
print(lst)
print(lst1)
print(id(lst))
print(id(lst1))

[1, 2, 3, 4, 5, 4, 3]
[1, 2, 3, 4, 5, 4, 3]
2921381945408
2921381945408

In [6]:
lst = [10,20,30,40,50,60,70,80,90,100,110]
print(lst[:-1:2])

[10, 30, 50, 70, 90]

In [7]:
print(l1)
print(l2)
print(l1+l2)

[1, 2, 2, 3, 3, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 9, 10, [6, 6, 6, 7, 7, 8, 9, 10]]
[6, 6, 6, 7, 7, 8, 9, 10]
[1, 2, 2, 3, 3, 4, 5, 5, 6, 6, 6, 6, 7, 7, 8, 9, 10, [6, 6, 6, 7, 7, 8, 9, 10], 6, 6, 6, 7, 7, 8, 9, 10]

In [9]:
print(l1.count(7))

2

In [10]:
power = [ i**2 for i in range(10) ] 
print(power)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [80]:
matrix = [
    [1,2,3,4],
    [6,8,3,4],
    [7,8,9,3]
]
#transposed = [ col for row in matrix for col in row ] 
transposed = [ [] for i in range(len(matrix[0]))]
for i in range(len(matrix)):
    for j in range(len(transposed)):
        transposed[j].append(matrix[i][j])
print(transposed)




# Assignment 1 : matrix transpose without using functions

[[1, 6, 7], [2, 8, 8], [3, 3, 9], [4, 4, 3]]

In [21]:
# Hybrid of list and tuple (list inside tuple is mutable
kyc = (1, ('Name','PAN','AADHAAR'), ['Address', 'Phone'])
print(kyc)
kyc[-1][1] = 7777
print(kyc)

(1, ('Name', 'PAN', 'AADHAAR'), ['Address', 'Phone'])
(1, ('Name', 'PAN', 'AADHAAR'), ['Address', 7777])

In [23]:
lst = ('hi',)
print(lst)

('hi',)

In [28]:
lst = 'hello'
lst[-1] = 'O'

TypeError: 'str' object does not support item assignment

In [30]:
lst = (('hello',) * 5)
print(lst)

('hello', 'hello', 'hello', 'hello', 'hello')

In [35]:
import statistics as stat
print(stat.mean((1,2,3,4)))

2.5

In [36]:
tup = (1,2,3,4)
print(tup.index(3))

2

In [40]:
import math
print(math.factorial(4))

24

In [48]:
lst1 = [1,2,3,4,5]
lst2 = []
lst2 = lst1.copy()
print(lst2)
print(id(lst1), id(lst2))

[1, 2, 3, 4, 5]
2921389474432 2921389486464

In [49]:
lst = {1,2,5,3}
lst.add(6)
lst.add(5)
lst.update([7,10,3])
print(lst) # sorted by default

{1, 2, 3, 5, 6, 7, 10}

In [55]:
lst.remove(9)

KeyError: 9

In [57]:
lst.discard(9)
print(lst)

{1, 2, 3, 5, 6, 7, 10}

In [68]:
lst = {1,2,3,4,5,6,7,8,9}
a = lst.pop()
b = lst.pop()
print(lst, a, b)

{3, 4, 5, 6, 7, 8, 9} 1 2

In [69]:



# Assignment 2 : Recycle popped out value

lst.add(a)
lst.add(b)

In [72]:
print(lst)

{1, 3, 4, 5, 6, 7, 8, 9, 2}

In [76]:
print(lst)
lst1 = set(lst1)
lst1.add(10)
print(lst1)

{1, 3, 4, 5, 6, 7, 8, 9, 2}
{1, 2, 3, 4, 5, 10}

In [77]:
print(lst1 | lst) # or .union
print(lst & lst1) # or .intersection
print(lst - lst1) # or .difference
print(lst ^ lst1) # or .symmetric_difference

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5}
{8, 9, 6, 7}
{6, 7, 8, 9, 10}

In [79]:
lst2 = frozenset([0,1,2,3])
print(lst2)
# lst2.add(4) raises AttributeError

frozenset({0, 1, 2, 3})

In [12]:
dic = {1: 'a', 2: 'b'}
# dic[3] raises KeyError
print(dic.get(3))

None

In [13]:
pop1 = dic.pop(2)
pop2 = dic.popitem()
dic[3] = 'c'
print(pop1, pop2)
print(dic)

b (1, 'a')
{3: 'c'}

In [9]:
dic[4] = 'd'

In [11]:
del dic[4] # deletes keyed item
dic.clear() # clears dic
del dic # deletes dic

In [1]:
# dict.fromkeys

sub = dict.fromkeys(['math', 'english', 'science'], 0)
print(sub)

{'math': 0, 'english': 0, 'science': 0}

In [2]:
listDict = {}
print(dir(listDict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [5]:
lst = {2:4, 3:5, 6:7}
mod = { k+5 : v*2 for k, v in lst.items() if v > 4 }
print(mod)

{8: 10, 11: 14}